<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecomerce Server</title>
</head>
<body>
    <h1>Welcome to Ecomerce Backend Server</h1>
    <h3>Version: <%= version %></h3>
    <h2><a href="https://github.com/KieKoongDev/ecomerce_dudee" target="_blank">→ See Repository</a></h2>
</body>
</html>